<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.LendRequestMapper">
    <select id="getLendRequest" parameterType="java.lang.Long" resultType="com.demo.entity.FinupLend">
        select id, status, app_lend_request_id, lend_customer_id from lend_request where app_lend_request_id = #{appLendRequestID}
    </select>

    <select id="getLendCustomerID" parameterType="java.lang.Long" resultType="com.demo.entity.FinupLend">
        select lend_customer_id from lend_request where app_lend_request_id = #{appLendRequestID}
    </select>

    <update id="updateStatus" parameterType="com.demo.entity.FinupLend">
        update lend_request set status = #{status} where id = #{id}
    </update>

    <select id="getMaxLendID" parameterType="com.demo.entity.FinupLend" resultType="java.lang.Long">
        select max(id) from lend_request where app_lend_request_id = #{appLendRequestId}
    </select>

    <delete id="deleteMainCard">
        delete from lend_bank_info where lender_id = #{id};
    </delete>

    <delete id="deleteViceCard">
        delete from lend_bank_vice_info where lend_customer_id = #{id}
    </delete>

    <update id="updateSubW" parameterType="java.lang.Long">
        update lend_request_substatus set sub_status = "WAIT_APP_CONFIRM" where lend_request_id=#{lendRequestID}
    </update>

    <update id="updateSubR" parameterType="java.lang.Long">
        update lend_request_substatus set sub_status = "REFUSE_SPEED" where lend_request_id=#{lendRequestID}
    </update>

    <update id="updateSubA" parameterType="java.lang.Long">
        update lend_request_substatus set sub_status = "ACCEPT_SPEED" where lend_request_id=#{lendRequestID}
    </update>

    <update id="updateSubStatus" parameterType="com.demo.entity.FinupLend">
        update lend_request_substatus set sub_status = #{subStatus} where lend_request_id = #{id}
    </update>

</mapper>